<!DOCTYPE html>
<html>

<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <div class="mx-auto" style="width: 500px;">
     <h1>Error:</h1>
</head>
<body>
    <div class="container-fluid"></div>
    <div class="mx-auto" style="width: 500px;">
        <p class="text-break" >An error has occured, please press on the button below to return to the home page.</p>
        
        <a href="{{ url_for('home')}}">
        
        </a>

        <a href="{{ url_for('loginOptions2')}}">
        <button type="button" class="btn btn-primary btn-lg">Return to login page</button>
        </a>

    </div>

    {% if response_status_code == 404 %}
    
    <button type="button" class="btn btn-primary btn-lg">Return to home</button>
    <img src="{{ url_for('static', filename='images/error_page2.jpg') }}"
         class="img-fluid"
         alt="Error page 2">
     {% elif page == login %}
    <img src="{{ url_for('static', filename='images/error_page3.jpg') }}"
         class="img-fluid"
         alt="Error page 3">
    {% else %}
    <button type="button" class="btn btn-primary btn-lg">Return to home</button>
    <img src="{{ url_for('static', filename='images/error_page1.jpg') }}"
         class="img-fluid"
         alt="Error page 1">
    {% endif %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    </div>
</body>

</html>